/* Sidebar Styles */
.sidebar {
  height: 100%; /* Full height */
  width: 0; /* Hidden by default */
  position: absolute; /* Ensure it's relative so it doesn't overlap the navbar */
  top: 20px; /* Adjust this based on the height of your navbar */
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* Transition effect for opening and closing */
  padding-top: 100px;
}

/* Sidebar Links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #1100ff;
}

/* Close Button */
.sidebar .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  padding-top: 60px;
}

/* Main content */
#main {
  padding: 16px;
  transition: margin-left 0.5s;
}

/* Open button */
.openbtn {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  position: absolute;
  top: 10px;
  left: 20px;
}
